version: '3.8'

services:
  postgres:
    image: postgres:{{ postgres_version }}
    environment:
      PGDATA: /data/postgres/pgdata
    entrypoint: "/bin/sh -c '. /run/secrets/secret_environment_sh && exec /usr/local/bin/docker-entrypoint.sh postgres'"
    command: []
    # start as root so we can get permissions correctly setup
    user: root
    secrets:
      - source: secret_environment_sh
        target: secret_environment_sh
    volumes:
      - postgres_data:/data/postgres
    deploy:
      # todo: healthcheck
      update_config:
        order: stop-first
        parallelism: 1
      rollback_config:
        order: stop-first
        parallelism: 1
      mode: replicated
      replicas: 1
      
      placement:
        constraints:
          - node.labels.hetzner_location == nbg1

    networks:
      postgres_network:
        aliases:
          - "{{ postgres_alias }}"

networks:
  postgres_network:
    driver: overlay
    name: "{{ postgres_network }}"
    attachable: true
    driver_opts:
      encrypted: ""
      com.docker.network.driver.mtu: "1350"

secrets:
  secret_environment_sh:
    file: ./secrets/secret_environment.sh

volumes:
  postgres_data:
    driver: hetzner-volume
    driver_opts:
      size: '{{ postgres_volume_size }}'
      fstype: ext4