[s3]
type = s3
provider = {{ s3_rclone_provider }}
env_auth = false
access_key_id = {{ s3_access_key_id }}
secret_access_key = {{ s3_secret_access_key }}
endpoint = {{ s3_endpoint }}

[sftp]
type = sftp
host = {{ sftp_target }}
user = {{ sftp_user }}
port = {{ sftp_port | default('22') }}
pass = {{ sftp_rclone_obscure_password }}
known_hosts_file = /known_hosts